.recomended_item {
    padding-left: 10px;
}

.thumbnail {
    width: 120px;
    height: 120px;
    display: table;
    background-color: rgba(0, 0, 0, 0.42);
    background-size: 100%;
}

.recommended_list {
    height: 150px;
}

.recommended {
    padding-top: 60px;
}

.menu_list {
    background: transparent;
}

.menu_item {
    color: white;
    font-size: 12px;
}

.menu_item ons-icon {
    margin-right: 10px;
    color: gray;
    font-size: 16px;
}

.category {
    margin: 20px 0px;
    padding: 0px 30px;
}

.category_wrapper {
    max-width: 150px;
    width: 95%;
    height: 120px;
    margin: auto;
    background-size: 120%;
}

.category_wrapper ons-icon {
    font-size: 55px;
    padding-top: 10px;
    line-height: 0.75em;
}

.category_thumbnail {
    display: inline-block;
    margin: 16px 0px;
}

.category_title {
    font-size: 30px;
    font-weight: bold;
    color: white;
    padding-top: 20px;
}

#register {
    color: red;
    font-size: 12pt;
}

#forgot {
    color: blue;
    font-size: 12pt;
}

#login-page {
    margin-top: 15%;
}

#loginPage .page__background{
    background-color: #FF9100;
}

#homePage .page__background{
    background-color: #FF9100;
}

#regisPage .page__background{
    background-color: #FF9100;
}

#resturantPage .page__background{
    background-color: #FF9100;
}

#resturant-kababsPage .page__background{
    background-color: #FF9100;
}

#resturantmenuPage .page__background{
    background-color: #FF9100;
}

#resturant-kababsmenuPage .page__background{
    background-color: #FF9100;
}

#confirmPage .page__background{
    background-color: #FF9100;
}

#confirm-kababsPage .page__background{
    background-color: #FF9100;
}

#regis-page {
    margin-top: 30%;
    text-align: center; 
}

.logo {
    width: 120px;
    height: 120px;
    display: table;
    background-color: rgba(0, 0, 0, 0.42);
    background-size: 100%;
}

.menu {
    width: 120px;
    height: 120px;
    display: table;
    background-color: rgba(0, 0, 0, 0.42);
    background-size: 100%;
}

p1 {
    font: 1em sans-serif;
    font-family: 'PT Sans', sans-serif;
    color: red;
}

p2 {
    font: 1em sans-serif;
    font-family: 'PT Sans', sans-serif;
}

p3 {
    font: 1em sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-size: 40pt;
    color: white;
}

p4 {
    font: 1em sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-size: 12pt;
}

p5 {
    font: 1em sans-serif;
    font-family: 'PT Sans', sans-serif;
    color: red;
    font-size: 8pt;
}

p6 {
    font: 1em sans-serif;
    font-family: 'PT Sans', sans-serif;
    color: rgb(161, 161, 161);
    font-size: 8pt;
}

p7 {
    font: 1em sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-size: 10pt;
    color: white;
}

body {
    padding-top: 80px;
  }
  
  .show-cart li {
    display: flex;
  }
  .card {
    margin-bottom: 20px;
  }
  .card-img-top {
    width: 200px;
    height: 200px;
    align-self: center;
  }